.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
**/*.iml
*/target/**
/project.properties
/release
/target
/.settings
/.project
/.classpath
/.idea
.idea/*
/bin
/gen
/proguard
/.pmd
/obj/*
/tmp
/out
/gen-external-apklibs
/*.iml
.idea/modules.xml
app/app.iml
gradle.properties
